<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/stylesheet.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="~/css/wheelcolorpicker.css" rel="stylesheet" />
    <title>@ViewData["title"]</title>
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body style="height:100vh;  width: 100vw;position:relative;overflow:hidden;">
    <div class="d-flex flex-column" style="position:absolute; left:0; right:0;height: 100vh; width: 100vw">
        <div class="align-items-center d-flex justify-content-between" style="background-color: #6f6d70; height: 48px;z-index:101;">
            <div class="p-3">
                <a href="/gallery/" style="font-size: 28px; font-weight: bold; color: #ffffff; text-decoration:none;">TextWarp</a>
            </div>
            <div class="p-3">
                <a href="/gallery/" style="background: transparent; border: none; color: #ffffff; margin-left: 0.5rem; margin-right: 0.5rem; text-decoration:none;">Gallery</a>
                <a style="background: transparent; border: none; color: #ffffff; margin-left: 0.5rem; margin-right: 0.5rem; text-decoration:none;">Sign in</a>
            </div>
        </div>
        <div id="main" class="d-flex w-100" style="height: calc(100vh - 48px);overflow:hidden;">
            @RenderBody()
        </div>
    </div>
    <div id="svg_temp" style="position: fixed;left: -10000000px;top: -100000px;visibility:hidden;"></div>
    <svg id="svg_container" xmlns="http://www.w3.org/2000/svg" style="position: fixed;left: -10000000px;top: -100000px;visibility:hidden;">
        <defs>
            <linearGradient id="sampleGradient" gradientTransform="rotate(1)" x1="0%" y1="50%" x2="100%" y2="50%" gradientUnits="userSpaceOnUse">
                <stop offset="0%" id="first_color" stop-color="#6b6fff" />
                <stop offset="100%" id="second_color" stop-color="#bc91c1" />
            </linearGradient>
        </defs>
    </svg>
    <div class="d-none align-items-center justify-content-center w-100 h-100" id="loader">
        <div class="loader">
            <div class="face">
                <div class="circle"></div>
            </div>
            <div class="face">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/warp_asset/d3.v3.min.js"></script>
<script src="~/js/warp_asset/svg-path-properties.min.js"></script>
<script src="~/js/warp_asset/seperatePathGenerator.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/fontawesome/js/all.min.js"></script>
<script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
<script src="~/js/jquery.wheelcolorpicker.js"></script>
<script src="~/js/toolcool-range-slider.min.js"></script>
<script src="~/js/warp_asset/app.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
