<div class="partial-finalize">
    <div class="editor-header">
        <div class="header-logo">
            <a id="btn_back_eidtor_view">
				<img src="~/imgs/left-back-window-white.svg">
			</a>
            <a href="#" class="logo-container">
                <img src="/imgs/logo_white.svg">
            </a>
        </div>
    </div>
    <div class="partial-finalize-body">
        <div class="div-header">
            <div class="div-image">
                <img src="~/imgs/embrance.png" />
            </div>
            <div class="div-text">
                <p class="title">Use your design with any of our tools.</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Or simply <a href="#" id="btn_finalize_download">download</a> here.</p>
            </div>
        </div>
        <div class="cf-services">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-item">
                        <div class="div-image">
                            <img src="~/imgs/true-brush-service.jpg"/>
                        </div>
                        <div class="div-text">
                            <div class="title">
                                <div class="tb-logo">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item">
                        <div class="div-image">
                            <img src="~/imgs/fdt-service.jpg"/>
                        </div>
                        <div class="div-text">
                            <div class="title">
                                <p>The Creator</p>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit vamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                            </div>
                            <div class="action">
                                <a class="btn-get-started" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>