@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Gallery";
    Layout = "~/Views/Shared/_GalleryLayout.cshtml";
}
<div class="d-flex flex-column h-100" id="gallery_view">
    <div class="align-items-center d-flex justify-content-between" style="background-color: #6f6d70; height: 48px">
        <div style="height:100%;width: 10rem; padding-left: 0.8rem; display: flex; align-items: center; justify-content: center;">
            <a href="#" class="logo-container">
                <img class="mw-100" src="/imgs/logo_white.svg" style="width: 100%;">
            </a>
        </div>
    </div>
    <div id="main" class="d-flex w-100" style="height: calc(100vh - 48px);overflow:hidden;">
        @*gallery*@
        <div id="galleryView" class="sub-view d-flex flex-column w-100 h-100" style="background-color:#76787c;padding:5rem 5rem;overflow:auto;">
            <div class="d-flex" style="height: 36px;">
                <div class="col-md-9 col-sm-6 d-flex align-items-center" style="background-color:#2f2d33;overflow:hidden;border-radius:10px;">
                    <div style="margin: 0 0.5rem;">
                        <i class="fa fa-search" style="font-size: 14px;color:#dad8dd"></i>
                    </div>
                    <input type="text" id="search_input" class="search-input flex-grow-1" value="" placeholder="Search">
                </div>
                <div class="align-items-center col-md-3 col-sm-6 d-flex" style="padding-left: 3rem;color: #dad8dd;font-size: 14px;">
                    <div id="btn_select" class="btn_chooseTemplate" style="padding: 0 0.5rem;cursor:pointer;">
                        Select
                    </div>
                    <div id="newWarpedText" class="btn_chooseTemplate" style="padding: 0 0.5rem;cursor:pointer; text-decoration:none;">
                        New
                    </div>
                </div>
            </div>
            <div class="d-flex" style="height:32px;">
                <div class="col-md-9 col-sm-6 d-flex align-items-center" id="msgWrapper" style="text-align:center;color:#ff0000;visibility:hidden;">
                </div>
                <div id="select_sub_menu" class="align-items-center col-md-3 col-sm-6" style="display:none;padding-left: 3rem;color: #dad8dd;font-size: 14px;">
                    <div id="act_duplicate" style="padding: 0 0.5rem;color:#a1a1a2;cursor:pointer;">
                        Duplicate
                    </div>
                    <div id="act_delete" style="padding: 0 0.5rem;color:#a1a1a2;cursor:pointer;">
                        Delete
                    </div>
                    <div id="act_share" style="padding: 0 0.5rem;color:#a1a1a2;cursor:pointer;">
                        Share
                    </div>
                </div>
            </div>
            <div class="gallery-content d-flex overflow-auto flex-wrap" style="padding: 2rem 0;flex:1;">
                <div id="createNewWarp">
                    <div class="gallery-item-img d-flex align-items-center justify-content-center" style="background: #dad8dd;">
                        <img src="~/imgs/plus_item.png" style="max-width: 100%;max-height: 100%;">
                    </div>
                    <div style="color:#dad8dd;font-size: 14px;margin-top: 8px;">Create Document</div>
                </div>
            </div>
        </div>
    </div>
</div>
